$soft-cyan : hsl(174, 77%, 80%);
$strong-cyan : hsl(174, 86%, 45%);
$light-grayish-red : hsl(14, 92%, 95%);
$light-red : hsl(15, 100%, 70%);
$pale-blue : hsl(226, 100%, 87%);
$very-pale-blue: hsl(230, 100%, 99%);
$empty-slidebar : hsl(224, 65%, 95%);
$toggle-bg : hsl(223, 50%, 87%);
$text-color : hsl(225, 20%, 60%);
$cta-bg : hsl(227, 35%, 25%);

// slider height
$slider-thumb-height : 2.5rem;

// toggle variables
$toggle-width : 2.7rem;
$toogle-height : 1.375rem;
$toggle-indicator-height : $toogle-height*0.7;
